[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    .pytest_cache,
    .coverage
max-complexity = 10
# https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length
max-line-length = 88
extend-ignore = E203
